@inherits LayoutComponentBase

<div class="page">
    <div id="header-section" class="section">
        <NavMenu />
    </div>
    <main id="main" class="main-section">
        @Body
    </main>
    <footer id="footer-section" class="section">
        <p>&copy; 2024 Geno Learning Platform</p>
    </footer>
</div>
